In [405]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pymysql
from sqlalchemy.types import *
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
import json
from urllib.parse import quote_plus as urlquote
from sqlalchemy_utils import create_database, database_exists

In [406]:
#Getting api keys for SQL DB
with open("/Users/echo/Documents/0424_Data_Enrichment/.secret/mysql.json") as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [407]:
#Creating connection to movies db
#When using an f-string you have to use single quotes for username and password
db_name = "movies"
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/{db_name}"
engine = create_engine(connection)

In [408]:
#Loading data
df = pd.read_csv("Data/title_basics.csv.gz")
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"

# Normalizing Genres

## Getting a List of Unique Genres

In [409]:
## create a col with a list of genres
df['genres_split'] = df['genres'].str.split(',')
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama,[Drama]
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
...,...,...,...,...,...,...,...,...,...,...
81898,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama,[Drama]
81899,tt9915872,movie,The Last White Witch,Boku no kanojo wa mahoutsukai,0,2019.0,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
81900,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama,[Drama]
81901,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
81902,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History","[Drama, History]"

In [410]:
#Separating each value into a new row
exploded_genres = df.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
81901,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
81901,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
81901,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
81902,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
81902,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [411]:
#Looking for the unique values so we assign each one a number.
unique_genres = sorted(exploded_genres['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [412]:
#Dropping columns we no longer need
df = df.drop(columns=["genres", "genres_split"])
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70
2,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016.0,NaN,90
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100
...,...,...,...,...,...,...,...,...
81898,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74
81899,tt9915872,movie,The Last White Witch,Boku no kanojo wa mahoutsukai,0,2019.0,NaN,97
81900,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51
81901,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95
81902,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92

## Create a new `title_genres` table

In [413]:
#Saving just the tconst and the genre_split as a new df
title_genres = exploded_genres[["tconst", "genres_split"]].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0068865        Drama

## Create a genre mapper dictionary to replace string genres with integers

In [414]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

## Replace the string genres in title_genres with the new integer ids.

In [415]:
## make new integer genre_id and drop string genres
title_genres["genre_id"] = title_genres["genres_split"].replace(genre_map)
title_genres = title_genres.drop(columns='genres_split')

In [416]:
#Ensuring the title_genre's genre_split column has numeric values
title_genres

          tconst  genre_id
0      tt0035423         5
0      tt0035423         9
0      tt0035423        18
1      tt0062336         7
2      tt0068865         7
...          ...       ...
81901  tt9916190         0
81901  tt9916190         2
81901  tt9916190        22
81902  tt9916362         7
81902  tt9916362        11

[153543 rows x 2 columns]

## Convert the genre map dictionary into a dataframe.

In [428]:
# manually make a dataframe with name cols from its keys() and values()
genres = pd.DataFrame({"genre_name": genre_map.keys(),
                            "genre_id": genre_map.values()})
genres

    genre_name  genre_id
0       Action         0
1        Adult         1
2    Adventure         2
3    Animation         3
4    Biography         4
5       Comedy         5
6        Crime         6
7        Drama         7
8       Family         8
9      Fantasy         9
10   Game-Show        10
11     History        11
12      Horror        12
13       Music        13
14     Musical        14
15     Mystery        15
16        News        16
17  Reality-TV        17
18     Romance        18
19      Sci-Fi        19
20       Sport        20
21   Talk-Show        21
22    Thriller        22
23         War        23
24     Western        24

# Saving the MySQL tables with tconst as the primary key

## Creating a datatype schema for to_sql

In [418]:
#Getting dtypes for df table
df.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear         float64
endYear           float64
runtimeMinutes      int64
dtype: object

In [419]:
#Getting dtypes for Title Genres table
title_genres.dtypes

tconst      object
genre_id     int64
dtype: object

In [420]:
#Getting dtypes for Genres table
genres.dtypes

genre_name    object
genre_id       int64
dtype: object

In [421]:
## Calculate max string lengths for df's columns
key_len = df['tconst'].fillna('').map(len).max()
type_len = df['titleType'].fillna('').map(len).max()
title_len = df['primaryTitle'].fillna('').map(len).max()
og_title_len = df['originalTitle'].fillna('').map(len).max()

## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1),
    "titleType": Text(type_len+1),
    "primaryTitle": Text(title_len+1),
    "originalTitle": Text(og_title_len),
    "isAdult": Integer(),
    "startYear":Float(),
    "endYear":Float(),
    "runtimeMinutes":Integer()}

In [422]:
## Calculate max string lengths for title_genres's columns
key_len = title_genres['tconst'].fillna('').map(len).max()

## Create a schema dictonary using Sqlalchemy datatype objects
title_genres_schema = {
    "tconst": Text(key_len+1),
    "genre_id":Integer()}

In [423]:
## Calculate max string lengths for title_genres's columns
genre_len = genres['genre_name'].fillna('').map(len).max()

## Create a schema dictonary using Sqlalchemy datatype objects
genres_schema = {
    "genre_name":Text(genre_len+1),
    "genre_id":Integer()}

## Run df.to_sql with the dtype argument.

In [424]:
#Creating our movies database
try:
    create_database(connection)
except:
    pass

In [425]:
# Save to sql with dtype and index=False
df.to_sql("title_basics",engine,dtype=df_schema,if_exists="replace",index=False)

81903

In [426]:
# Save to sql with dtype and index=False
title_genres.to_sql("title_genres",engine,dtype=title_genres_schema,if_exists="replace",index=False)

153543

In [427]:
# Save to sql with dtype and index=False
genres.to_sql("genres",engine,dtype=genres_schema,if_exists="replace",index=False)

25

## Run the query to ADD PRIMARY KEY

In [429]:
#Setting primary key (tconst) for title basics table
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [430]:
#setting primary key (genre_id) for genre table
engine.execute('ALTER TABLE genres ADD PRIMARY KEY (`genre_id`);')